html{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

a{
    color: white;  
}

p,body{
    margin:0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/snow.jpg);
    background-size: cover;
}

#cookie{
    background-color: black;
    text-align: center;
}

#header, #footer{
    background-color: rgba(0, 0, 0, 0.4);
    padding:25px;
}

#header img{
    transform:scale(0.7);
}

#footer{
    text-align: center;
    position: absolute;
    bottom: 0;
}

main{
    margin-left:250px;
}

#pub, form{
    height: 350px;
    width:350px;
    margin:50px;
    float:left;
}

#pub{
    text-align: center;
    border-top:1px solid white;
    border-bottom:1px solid white;
}

form{
    background: black;
}