
<h1>Présentation de la web plateforme :</h1>

Ensemble de langages text interprétés par les navigateur.

* HTML - Structure (qualification)
* CSS - Présentation
* JavaScript - Interactivité

HTML langage de balise :

Balise <nom attribut="1">Contenu</nom>
Balise <nom />

Et des langages complémentaires :

* XML
* JSON
* SVG

